<?xml version="1.0"?>
<launch>


	<!-- Localization -->
	<node name="ekf_slam" pkg="localization" type="ekf_slam.py" output='screen'>
		<param name='anchor_id' value='500'/>
	</node>

	<!-- Include phidgets-->
	<include file="$(find robp_phidgets)/launch/phidgets.launch" />

	<!-- Include teleop_twist_joy -->
    <!-- <include file="$(find teleop_twist_joy)/launch/teleop.launch" /> -->
	<node pkg="joy" type="joy_node" name="joy_node">
		<!-- <param name="dev" value="$(arg joy_dev)" />
		<param name="deadzone" value="0.3" />
		<param name="autorepeat_rate" value="20" />
		<remap from="joy" to="$(arg joy_topic)" /> -->
	</node>

	<node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
		<!-- <rosparam command="load" file="$(arg config_filepath)" />
		<remap from="joy" to="$(arg joy_topic)" /> -->
		<param name="scale_angular" value="1.5"/>
	</node>

	<!-- Include realsense2_camera -->
	<include file="$(find robp_launch)/launch/rs_camera.launch" />

	<!-- run the motors -->
    <node name="cmd_vel_to_motors" pkg="cmd_vel_to_motors" type="cmd_vel_to_motors.py" output='screen'/>

	<!-- run the arm_camera -->
	<node name="arm_camera" pkg="arm_camera" type="arm_camera.py" output='screen'/>

	<!-- run rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find robp_launch)/config/odometry.rviz" />

	<!-- run aruco detection -->
	<node name="display_markers" pkg="detection" type="display_markers.py" output='screen'/>

    <node name="aruco" pkg="aruco_ros" type="marker_publisher">
		<remap from="/camera_info" to="/camera/color/camera_info"/>
		<remap from="/image" to="/camera/color/image_raw"/>
		<param name="image_is_rectified" value="True"/>
		<param name="marker_size"        value="0.08"/> 
		<param name="reference_frame"    value="camera_color_optical_frame"/>
		<param name="camera_frame"       value="camera_color_optical_frame"/>
		<param name="use_depth"          value="True"/>
		<!-- <param name="adaptiveThreshWinSizeMin"  value="141"/>  
		<param name="adaptiveThreshWinSizeMax"  value="251"/>  
		<param name="adaptiveThreshWinSizeStep" value="20"/> 
		<param name="adaptiveThreshConstant"    value="4"/>     -->
	</node>

	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find realsense2_description)/urdf/test_d435_camera.urdf.xacro' use_nominal_extrinsics:=false"/>

	<!-- run odometry -->
	<include file="$(find odometry)/include/odometry.launch" />

</launch>
