<?xml version="1.0"?>
<launch>

	<!-- <param name="/use_sim_time" value="true" /> -->

	<node name="map_to_odom" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 map odom" />
	<!-- Include phidgets-->
	<include file="$(find robp_phidgets)/launch/phidgets.launch" />

	<!-- Include teleop_twist_joy -->
    <include file="$(find teleop_twist_joy)/launch/teleop.launch" />
	

	<!-- Include realsense2_camera -->
	<include file="$(find robp_launch)/launch/rs_camera.launch">
      <arg name="align_depth" value="true"/>
    </include>


	<!-- https://github.com/IntelRealSense/realsense-ros/issues/714 -->

	<!-- run the motors -->
    <node name="cmd_vel_to_motors" pkg="cmd_vel_to_motors" type="cmd_vel_to_motors.py" output='screen'/>

	<!-- run the arm_camera -->
	<node name="arm_camera" pkg="arm_camera" type="arm_camera.py" output='screen'/>

	<!-- run odometry -->
	<node name="odometry" pkg="odometry" type="ekf_odom.py" output='screen'/>

	<!-- run detection -->
	<!-- <node name="detection" pkg="detection" type="detection_bc.py" output='screen'/>
	<node name="display_objects" pkg="detection" type="display_objects.py" output='screen'/> -->

	<!-- run aruco detection -->
	<node name="display_markers" pkg="detection" type="display_markers.py" output='screen'/>

	<node name="object_classifier" pkg="detection" type="object_classification.py" output='screen'/>
	<node name="object_computations" pkg="detection" type="object_computations.py" output='screen'/>

	<!-- run rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find robp_launch)/config/odometry.rviz" />

    <node name="aruco" pkg="aruco_ros" type="marker_publisher">
		<remap from="/camera_info" to="/camera/color/camera_info"/>
		<remap from="/image" to="/camera/color/image_raw"/>
		
		<param name="image_is_rectified" value="True"/>
		<!-- <param name="marker_size"        value="0.02370"/>  -->
		<param name="marker_size"        value="0.06"/> 
		<param name="reference_frame"    value="camera_color_optical_frame"/>
		<param name="camera_frame"       value="camera_color_optical_frame"/>
	</node>


</launch>



