<?xml version="1.0"?>
<launch>

	<!-- Include phidgets-->
	<include file="$(find robp_phidgets)/launch/phidgets.launch" />

	<node name="map_to_odom" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 map odom" />
	<!-- run the motors -->
    <node name="cmd_vel_to_motors" pkg="cmd_vel_to_motors" type="cmd_vel_to_motors.py" output='screen'/> 

	<!-- run odometry -->
	<node name="odometry" pkg="odometry" type="ekf_odom.py" output='screen'/>
	<!-- <node name="odometry" pkg="odometry" type="odometry_mixed_imu.py" output='screen'/> -->

		<!-- run the path tracker -->
	<node name="path_tracker" pkg="path_planner" type="path_tracker_pure_pursuit.py" output='screen'/>
	
	<!-- run workspace manager -->
	<node name="workspace_manager" pkg="localization" type="workspace_manager.py" output='screen'/>
	<!-- Include teleop_twist_joy -->
    <!-- <include file="$(find teleop_twist_joy)/launch/teleop.launch" /> -->

	<!-- run the keyboard -->
	<!-- <node name="twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output='screen'/> -->
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	
	<!-- run rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find robp_launch)/config/odometry.rviz" />
 
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find realsense2_description)/urdf/test_d435_camera.urdf.xacro' use_nominal_extrinsics:=false"/>

</launch>
